<div class="row">
  <div class="col-12">
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Ledger Group</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <div class="row">
              <div class="col-md-11">
                <!-- City Master List -->
              </div>
              <div class="col-md-1 btnStyle">
                <button class="btn btn-raised shadow-z-2 btn-info" (click)="ShowPopUp()">Add New</button>
              </div>
            </div>
            <div class="row">
              <div class="myclass">
                <table class="table table-hover" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Ledger Group Name</th>
                      <th>Nature</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of rows">
                      <td>{{client.ledgergroupname}}</td>
                      <td>{{client.nature}}</td>
                      <td>
                        <button (click)="ShowData(client.id)" class="btn btn-raised shadow-z-2 btn-info">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="DeleteLedgerGroup(client.id)" class="btn btn-raised shadow-z-2 btn-danger">
                          <i class="fa fa-trash "></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <form [formGroup]="LedgerGroupForm" (ngSubmit)="SaveDetail(LedgerGroupForm.value)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{Title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hidepopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class=" control-label">Ledger Group Name</label>
        <div class="">
          <input class="form-control" type="text" placeholder="Ledger Group Name" formControlName="ledgergroupname"
            required />
        </div>
      </div>

      <div class="form-group">
        <label class=" control-label">Nature</label>
        <div class="">
          <select class="form-control" formControlName="nature">
            <option value="">--Select--</option>
            <option *ngFor="let cont of nature" value={{cont.name}}>
              {{cont.name}}
            </option>
          </select>
        </div>
      </div>

      <br>

    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-raised shadow-z-2 btn-default" (click)="modalRef.hide()"
        aria-label="Close">Close</button>
      <button type="submit" class="btn btn-raised shadow-z-2 btn-success" [disabled]="!LedgerGroupForm.valid">Save
        changes</button>
    </div>
  </form>
</ng-template>