<div class="row">
  <div class="col-12">
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Door Delivery Confirmation</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <div class="row">
              <div class="col-md-11">
                <!-- Freight Master List -->
              </div>
              <div class="col-md-1 btnStyle">
                <button class="btn btn-raised shadow-z-2 btn-info" (click)="ShowPopUp()">Add New</button>
              </div>
            </div>
            <div class="row">
              <div class="myclass">
                <table class="table table-hover" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Door Delivery No</th>
                      <th>Pre Delivery</th>
                      <th>CN No</th>
                      <th>CN date</th>
                      <th>Booking Branch</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of rows">
                      <td>{{client.doordeliveryNo}}</td>
                      <td>{{client.predeliveryNoName}}</td>
                      <td>{{client.CNno}}</td>
                      <td>{{client.CNdate | date: "yyyy-MM-dd"}}</td>
                      <td>{{client.bookingbranch}}</td>
                      <td>
                        <button (click)="ShowData(client.id)" class="btn btn-raised shadow-z-2 btn-info">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="DeleteDoorDeliveryConfirm(client.id)" class="btn btn-raised shadow-z-2 btn-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <form [formGroup]="DoorDeliveryConfirmForm" (ngSubmit)="SaveDetail(DoorDeliveryConfirmForm.value)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{Title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hidepopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Door Delivery No</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Door Delivery No"
                    formControlName="doordeliveryNo" (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Pre Delivery</label>
                  <div class="">
                    <select class="form-control" formControlName="predeliveryNo">
                      <option value="">--Select--</option>
                      <option *ngFor="let cont of predeliveryModel" value={{cont.id}}>
                        {{cont.predeliveryNo}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">CN No</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="CN No" formControlName="CNno"
                    (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">CN Date</label>
                <div class="">
                  <input class="form-control" type="date" placeholder="CN Date" formControlName="CNdate" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Booking Branch</label>
                <div class="">
                  <select class="form-control" formControlName="bookingbranch">
                    <option value="">--Select--</option>
                    <option *ngFor="let cont of reserveModel" value={{cont.id}}>
                      {{cont.branch}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Consignor</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Consignor " formControlName="consignor" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Item</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Item" formControlName="item" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Delivery Article </label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Delivery Article"
                    formControlName="deliveryarticle" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Delivery Weight </label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Delivery Weight"
                    formControlName="deliveryweight" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Undelivered Article</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Undelivered Article"
                    formControlName="undeliveredarticle" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Undelivered Weight</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Undelivered Weight"
                    formControlName="undeliveredweight" (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Balance Article</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Balance Article"
                    formControlName="balancearticle" (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Balance Weight</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Balance Weight"
                    formControlName="balanceweight" (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Roll No</label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Roll No" formControlName="rollno"
                    (input)="Validator($event)" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class=" control-label">Remark </label>
                <div class="">
                  <input class="form-control" type="text" placeholder="Remark " formControlName="remark" />
                </div>
              </div>
            </div>

          </div>

    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-raised shadow-z-2 btn-default" (click)="modalRef.hide()"
        aria-label="Close">Close</button>
      <button type="submit" class="btn btn-raised shadow-z-2 btn-success" [disabled]="!DoorDeliveryConfirmForm.valid">Save
        changes</button>
    </div>
  </form>
</ng-template>