<div class="row">
    <div class="col-12">
      <div id="kick-start" class="card">
        <div class="card-header">
          <h4 class="card-title">Commodity Type Master</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
              <div class="row">
                <div class="col-md-11">
                  <!-- Commodity Type Master List -->
                </div>
                <div class="col-md-1 btnStyle">
                  <button class="btn btn-raised shadow-z-2 btn-info" (click)="ShowPopUp()">Add New</button>
                </div>
              </div>
              <div class="row">
                <div class="myclass">
                  <table class="table table-hover" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let client of rows">
                        <td>{{client.Name}}</td>
                        <td>
                          <button (click)="ShowData(client.id)" class="btn btn-raised shadow-z-2 btn-info">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button (click)="DeleteCommodity(client.id)" class="btn btn-raised shadow-z-2 btn-danger">
                            <i class="fa fa-trash "></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <ng-template #template>
    <form [formGroup]="CommodityTypeMasterForm" (ngSubmit)="SaveDetail(CommodityTypeMasterForm.valid)">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidepopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  
        <div class="form-group">
          <label class=" control-label">Name</label>
          <div class="">
            <input class="form-control" type="text" placeholder="Name" formControlName="Name"  required/>
          </div>
        </div>
  
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-raised shadow-z-2 btn-default" (click)="modalRef.hide()" aria-label="Close">Close</button>
        <button type="submit" class="btn btn-raised shadow-z-2 btn-success" [disabled]="!CommodityTypeMasterForm.valid">Save changes</button>
      </div>
    </form>
  </ng-template>