<div class="row">
  <div class="col-12">
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title">Reserve</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <div class="row">
              <div class="col-md-11">
                <!-- RTO Master List -->
              </div>
              <div class="col-md-1 btnStyle">
                <button class="btn btn-raised shadow-z-2 btn-info" (click)="ShowPopUp()">Add New</button>
              </div>
            </div>
            <div class="row">
              <div class="myclass">
                <table class="table table-hover" cellspacing="0">
                  <thead>
                    <tr>

                      <th>Branch</th>
                      <th>Consignor </th>
                      <th>CN from</th>
                      <th>CN to</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of rows">
                      <td>{{client.branchName}}</td>
                      <td>{{client.consignorName}}</td>
                      <td>{{client.CNfrom}}</td>
                      <td>{{client.CNto}}</td>
                      <td>
                        <button (click)="ShowData(client.id)" class="btn btn-raised shadow-z-2 btn-info">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="DeleteReserve(client.id)" class="btn btn-raised shadow-z-2 btn-danger">
                          <i class="fa fa-trash "></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <form [formGroup]="ReserveOperationForm" (ngSubmit)="SaveDetail(ReserveOperationForm.value)">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{Title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="HidePopUp()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Branch</label>
            <div class="">
              <select class="form-control" formControlName="branch">
                <option value="">--Select--</option>
                <option *ngFor="let cont of branchModel" value={{cont.id}}>
                  {{cont.branchName}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Consignor</label>
            <div class="">
              <select class="form-control" formControlName="Consignor">
                <option value="">--Select--</option>
                <option *ngFor="let cont of regularclient" value={{cont.id}}>
                  {{cont.clientCode}}
                </option>
              </select>
            </div>
          </div>
        </div>

      </div>

      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">CN from</label>
            <div class="">
              <input class="form-control" type="text" placeholder="Consignor" formControlName="CNfrom" required />
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">CN to</label>
            <div class="">
              <input class="form-control" type="text" placeholder="Consignor" formControlName="CNto" required />
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-raised shadow-z-2 btn-default" (click)="modalRef.hide()">Close</button>
      <button type="submit" class="btn btn-raised shadow-z-2 btn-success" [disabled]="!ReserveOperationForm.valid">Save
        changes</button>
    </div>
  </form>
</ng-template>